<mat-card class="printForm">
  <div fxLayout="column" fxLayoutAlign="center center">
    <div class="bold title">
      PURCHASE ORDER
    </div>
    <div>
      CITY GOVERNMENT OF CEBU
    </div>
  </div>
  <form class="withMarginTop10">
    <div fxLayoutAlign="start center" fxLayout="row">
      <div fxFlex="60" class="withBorder">
        <div fxLayout="column" fxFlexFill>
          <div fxLayout="row" class="headerData">
            <div fxFlex="25">
              Supplier :
            </div>
            <div fxFlex class="entry">
              {{ poData?.supplierName }}
            </div>
          </div>
          <div fxLayout="row" class="headerData">
            <div fxFlex="25">
              
            </div>
            <div fxFlex class="entry">
              
            </div>
          </div>
          <div fxLayout="row" class="headerData">
            <div fxFlex="25">
              Address :
            </div>
            <div fxFlex class="entry">
              {{ poData?.supplierAddress }}
            </div>
          </div>
          <div fxLayout="row" class="headerData">
            <div fxFlex="25">
              
            </div>
            <div fxFlex class="entry">
              
            </div>
          </div>
        </div>
      </div>
      <div fxFlex="40" class="withBorder">
        <div fxLayout="column" fxFlexFill>
          <div fxLayout="row" class="headerData">
            <div fxFlex="25">
              PO No. :
            </div>
            <div fxFlex class="entry">
              <!-- {{ poData?.transactionNo }} -->
            </div>
          </div>
          <div fxLayout="row" class="headerData">
            <div fxFlex="25">
              Date :
            </div>
            <div fxFlex class="entry">
              
            </div>
          </div>
          <div fxLayout="row" class="headerData">
            <div fxFlex="25">
              MoP :
            </div>
            <div fxFlex class="entry">
              {{ poData?.procurementMode }}
            </div>
          </div>
          <div fxLayout="row" class="headerData">
            <div fxFlex="25">
              PR No./s :
            </div>
            <div fxFlex class="entry">
              <!-- {{ poData?.prNo }} -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <form>
    <div class="purposeLine bold">
      <div fxFlex="10">
        Gentlemen :
      </div>
      <div>
        Please furnish this office the following articles subject to the terms and conditions contained herein.
      </div>
    </div>
  </form>
  <form>
    <div fxLayoutAlign="start center" fxLayout="row">
      <div fxFlex="60" class="withBorder">
        <div fxLayout="column" fxFlexFill>
          <div fxLayout="row" class="headerData">
            <div fxFlex="35">
              Place of Delivery :
            </div>
            <div fxFlex class="entry">
              {{ poData?.deliveryPlace }}
            </div>
          </div>
          <div fxLayout="row" class="headerData">
            <div fxFlex="35">
              Date of Delivery :
            </div>
            <div fxFlex class="entry">
              <!-- {{ formatDate(poData?.deliveryDate) }} -->
            </div>
          </div>
        </div>
      </div>
      <div fxFlex="40" class="withBorder">
        <div fxLayout="column" fxFlexFill>
          <div fxLayout="row" class="headerData">
            <div fxFlex="35">
              Delivery Term :
            </div>
            <div fxFlex class="entry">
              {{ poData?.deliveryTerm }}
            </div>
          </div>
          <div fxLayout="row" class="headerData">
            <div fxFlex="35">
              Payment Term :
            </div>
            <div fxFlex class="entry">
              {{ poData?.paymentTerm }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <form>
    <div class="tableContainer" fxFlex="">
      <table mat-table [dataSource]="poItemsData">
        <ng-container matColumnDef="itemNo">
          <th mat-header-cell *matHeaderCellDef> Item </th>
          <td mat-cell *matCellDef="let element; let i = index" [ngStyle]="element.id == '-' || element.id == '0' ? {'display': 'none'} : {'display': 'table-cell'}"> {{ element.id == "x" ? "" : element.id }} </td>
        </ng-container>
      
        <ng-container matColumnDef="uom">
          <th mat-header-cell *matHeaderCellDef> Unit </th>
          <td mat-cell *matCellDef="let element" align="left" [ngStyle]="element.id == '-' || element.id == '0' ? {'display': 'none'} : {'display': 'table-cell'}"> {{ element.uom }} </td>
        </ng-container>
      
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef> Description </th>
          <td mat-cell *matCellDef="let element" align="left" [ngStyle]="element.id == '-' ? {'text-align': 'center', 'font-weight': 'bold'} : element.id == '0' ? {'text-align': 'left', 'font-weight': 'bold'} : {'font-weight': 'normal'}" [attr.colspan]="element.id == '-' ? 5 : element.id == '0' ? 6 : 1"> {{ element.description }} </td>
        </ng-container>

        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef> Quantity </th>
          <td mat-cell *matCellDef="let element" [ngStyle]="element.id == '-' || element.id == '0' ? {'display': 'none'} : {'display': 'table-cell'}"> {{ element.quantity || "" }} </td>
        </ng-container>
      
        <ng-container matColumnDef="unitCost">
          <th mat-header-cell *matHeaderCellDef> Unit Cost </th>
          <td mat-cell *matCellDef="let element" align="right" [ngStyle]="element.id == '-' || element.id == '0' ? {'display': 'none'} : {'display': 'table-cell'}"> {{ element.cost ? numberFormat.format(element.cost) : "" }} </td>
        </ng-container>
      
        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef> Amount </th>
          <td mat-cell *matCellDef="let element" align="right" [ngStyle]="element.id == '-' ? {'font-weight': 'bold'} : element.id == '0' ? {'display': 'none'} : {'display': 'table-cell'}"> {{ element.total ? numberFormat.format(element.total) : "" }} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumnsItemDetails"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsItemDetails;" [ngClass]="{'sub-total': row.description == 'Sub-Total' }"></tr>
      </table>
    </div>
  </form>
  <form *ngIf="currPage == maxPage">
    <div fxLayoutAlign="space-between center" fxLayout="row" class="withBorder">
      <div>
        (Total Amount in Words) : <mat-label class="capitalize bold">{{ totalAmountString }} Pesos</mat-label>
      </div>
      <div class="bold">
        {{ grandTotal ? numberFormat.format(grandTotal) : "" }}
      </div>
    </div>
  </form>
  <form fxLayout="columns wrap" class="withBorder">
    <div>
      <p>&emsp;In case of failure to make the full delivery within the time specified above, a penalty of one-tenth (1/10) of one percent for every day of delay shall be imposed.</p>
      <p></p>
    </div>
    <div fxLayoutAlign="start start" fxFlex="grow" fxLayout="row wrap" class="withMarginTop10">
      <div fxLayout="columns wrap" fxFlex="50">
        <div fxLayout="start center" fxFlex="grow">
          Conforme :
        </div>
        <div fxLayout="center center" fxFlex="grow">
          <p class="signatory center">____________________________________</p>
          <p class="center">(Signature over printed name)</p>
          <p class="signatory center">____________________________________</p>
          <p class="center">(Date)</p>
        </div>
      </div>
      <div fxLayout="columns wrap" fxFlex="50">
        <div fxLayout="start center" fxFlex="grow">
          Very truly yours,
        </div>
        <div fxLayout="center center" fxFlex="60">
          <p class="signatory center underline bold"> {{ cityMayor }} </p>
          <p class="center">City Mayor</p>
        </div>
      </div>
    </div>
  </form>
  <form fxLayout="columns wrap" class="withBorder">
    <div>
      <p>(In case of Negotiated Purchase pursuant to Section 369 (a) of RA 7160, this portion must be accomplished.)</p>
    </div>
    <div fxFlex="grow" fxLayout="row wrap" class="headerData">
      <div fxFlex="40">
        Approved per Sanggunian Resolution No. :
      </div>
      <div fxFlex class="entry">
        
      </div>
    </div>
    <div fxFlex="grow" fxLayoutAlign="space-between start" fxLayout="row wrap" class="withMarginTop">
      <div fxFlex="20">
        Certified Correct :
      </div>
      <div fxFlex>
        <div fxLayoutAlign="center center" fxLayout="columns wrap">
          <div fxFlex="grow" class="entry">
            <p></p>
          </div>
          <div fxFlex="grow">
            <p class="center">Secretary to Sanggunian</p>
          </div>
        </div>
      </div>
      <div fxLayout="row" fxFlex="30">
        <div fxFlex="25">
          Date :
        </div>
        <div fxFlex class="entry">
          
        </div>
      </div>
    </div>
  </form>
  <div class="divFooter" fxLayoutAlign="end">
    Page {{ currPage }} of {{ maxPage }}
  </div>
</mat-card>