mat-card {
  width: 8.5in;
  height: 11in;
  padding-left: .55in;
  padding-right: .55in;
  margin-top: 0 !important;
  print-color-adjust: exact;
  font-size: small;
}
mat-card.printForm {
  box-shadow: unset !important;
  page-break-after: always;
}
@page {
  size: auto;
  margin: .4in;
}
@media print {
  html, body { 
    overflow-y: visible !important; 
    position: relative; 
  };
}
div.divFooter {
  margin-top: 20px;
}
table {
  border-collapse: collapse;
  margin-top: unset;
  width: 100%;
}
.entry {
  height: 20px;
  border-bottom: 1px solid black;
}
.b {
  font-weight: 800;
}
.headerData {
  height: 25px;
  align-items: self-end;
}
.withBorder {
  border: 1px solid;
  padding: 10px !important;
}
.withMarginTop10px {
  margin-top: 10px;
}
.withMarginTop20px {
  margin-top: 20px;
}
.inputFormatCenter {
  border-bottom: 1px solid black;
  text-align: center;
}
.headerText {
  margin-top: 10px;
  font-weight: bold;
  font-size: 16px;
}
th.mat-header-cell {
  text-align: center !important;
  border: 1px solid #000000;
  font-weight: bold;
  color: black;
  background-color: lightgrey;
}
td.mat-cell:first-of-type,
th.mat-header-cell:first-of-type {
  padding-left: 0px;
}
td.mat-cell:last-of-type,
th.mat-header-cell:last-of-type {
  padding-right: 0px;
}
td.mat-cell,
td.mat-footer-cell {
  padding-right: 10px !important;
  padding-left: 10px !important;
  border: 1px solid #000000;
  font-size: small;
}
tr.mat-row {
  height: 35px;
}
th,td {
  border: 1px solid black;
}
form {
  margin-bottom: unset !important;
}
.sub-total {
  background-color: lightgrey;
}

.mat-column-description {
  width: 250px;
}
.mat-column-supplySpec {
  width: 155px;
}

.mat-column-itemNo {
  width: 25px;
}
.mat-column-uom {
  width: 45px;
}
.mat-column-quantity {
  width: 35px;
}
.mat-column-cost {
  width: 70px;
}
.mat-column-total {
  width: 90px;
}