mat-card {
  width: 8.5in;
  height: 11in;
  padding-left: .55in;
  padding-right: .55in;
  margin-top: 0 !important;
  print-color-adjust: exact;
  font-size: small;
}
mat-card.printForm {
  box-shadow: unset !important;
  page-break-after: always;
}
@page {
  size: auto;
  margin: .4in;
}
@media print {
  html, body { 
    overflow-y: visible !important; 
    position: relative; 
  };
}
div.divFooter {
  margin-top: 20px;
}
table {
  border-collapse: collapse;
  margin-top: unset;
  width: 100%;
  text-align: center !important;
}
.header-title {
  font-size: 20px;
}
.small-font {
  font-size: small;
}
.b {
  font-weight: 800;
}
th.mat-header-cell {
  text-align: center !important;
  border: 1px solid #000000;
  font-weight: bold;
  color: black;
  background-color: lightgrey;
}
td.mat-cell:first-of-type,
th.mat-header-cell:first-of-type {
  padding-left: 0px;
}
td.mat-cell:last-of-type,
th.mat-header-cell:last-of-type,
td.mat-footer-cell:last-of-type {
  padding-right: 0px;
}
td.mat-cell,
td.mat-footer-cell {
  padding-right: 10px !important;
  padding-left: 10px !important;
  border: 1px solid #000000;
  font-size: small;
}
tr.mat-row {
  height: 25px !important;
}
th,td {
  border: 1px solid black;
}
form {
  margin-bottom: unset !important;
}

.mat-column-itemNo {
  width: 35px;
}
.mat-column-itemCode {
  width: 120px;
}
.mat-column-uom {
  width: 60px;
}
.mat-column-price {
  width: 80px;
}