<mat-card>
  <form fxLayout="columns wrap">
    <mat-toolbar class="bg-primary">
      <div fxLayoutAlign="space-between center" fxLayout="row wrap" fxFlex="grow">
        <mat-label>Item List</mat-label>
        <div fxLayoutAlign="space-between center" fxFlex="30">
          <button mat-raised-button color="primary" fxFlex="80" (click)="selectItem()">Select</button>
          <button mat-mini-fab color="warn" (click)="closeDialog()">
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>
    </mat-toolbar>
    <div fxLayout="columns wrap" class="formContent" fxLayoutAlign="end">
      <div fxLayout="row wrap" fxLayoutAlign="space-between center" fxFlex="grow">
        <div fxLayoutAlign="space-between center" fxFlex="50">
          <div *ngIf="!this.data.selectedTypeId">
            <mat-label>Item Group</mat-label>
          </div>
          <div fxFlex="70" *ngIf="!this.data.selectedTypeId">
            <mat-form-field appearance="fill">
              <mat-select [(ngModel)]="itemType" [ngModelOptions]="{standalone: true}" (selectionChange)="typeSelectedValue($event)">
                <mat-optgroup *ngFor="let g of groupType" [label]="g.description">
                  <mat-option *ngFor="let type of g.type" [value]="type.id">
                    - {{ type.description }}
                  </mat-option>
                </mat-optgroup>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div fxLayoutAlign="start center" fxFlex="45">
          <div fxFlex="15">
            <mat-label>Search</mat-label>
          </div>
          <div fxFlex="85">
            <mat-form-field appearance="fill">
              <input matInput (keyup)="textFilter($event)">
              <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="tableContainer" fxLayout="column" fxLayoutAlign="start">
        <table mat-table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Item Code </th>
            <td mat-cell *matCellDef="let element"> {{ element.code }} </td>
          </ng-container>
    
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
            <td mat-cell *matCellDef="let element"> {{ element.description }} </td>
          </ng-container>
    
          <ng-container matColumnDef="uom">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Unit
            </th>
            <td mat-cell *matCellDef="let element"> {{ element.uom }} </td>
          </ng-container>
    
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            (click)="rowSelected(row)"
            [class.row-is-clicked]="selectedItem == row"></tr>
        </table>
      </div>
    </div>
  </form>
</mat-card>