<mat-card class="printForm">
  <app-print-header [formName]="'INVENTORY CUSTODIAN SLIP'"></app-print-header>
  <div fxLayout="columns wrap">
    <div fxFlex="grow" class="addMarginTop20">
      <div fxFlex="10">
        LGU :
      </div>
      <div>
        CITY OF CEBU
      </div>
    </div>
    <div fxFlex="grow">
      <div fxFlex="10">
        Fund :
      </div>
      <div fxFlex="90" fxLayoutAlign="space-between center">
        <div>
          {{ icsData.fundCluster.toUpperCase() }}
        </div>
        <div fxFlex="50" fxLayoutAlign="end center">
          <div fxFlex="20">
            ICS No.:
          </div>
          <div>
            {{ icsData.icsNo }}
          </div>
        </div>
      </div>
    </div>
    <div class="tableContainer addMarginTop20">
      <table mat-table [dataSource]="icsDetailsData">
        <ng-container matColumnDef="qty">
          <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">Quantity</th>
        </ng-container>

        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef [ngStyle]="{'display': 'none'}"> Quantity </th>
          <td mat-cell *matCellDef="let element"> 
            <div class="addPadding8px">
              {{ element.quantity || "" }} 
            </div>
          </td>
        </ng-container>
        
        <ng-container matColumnDef="unit">
          <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">Unit</th>
        </ng-container>

        <ng-container matColumnDef="uom">
          <th mat-header-cell *matHeaderCellDef [ngStyle]="{'display': 'none'}"> Unit </th>
          <td mat-cell *matCellDef="let element">
            <div fxLayoutAlign="start" class="addPadding8px">
              {{ element.uom }}
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef [attr.colspan]="2">Amount</th>
        </ng-container>

        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef> Amount </th>
          <td mat-cell *matCellDef="let element">
            <div fxLayoutAlign="end" class="addPadding8px">
              {{ (element.price || "") | currency :"PHP":"symbol" }}
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="totalCost">
          <th mat-header-cell *matHeaderCellDef> Total Cost </th>
          <td mat-cell *matCellDef="let element">
            <div fxLayoutAlign="end" class="addPadding8px">
              {{ ((element.price * element.quantity) || "") | currency :"PHP":"symbol" }}
            </div>
          </td>
        </ng-container>
        
        <ng-container matColumnDef="desc">
          <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">Description</th>
        </ng-container>
        
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef [ngStyle]="{'display': 'none'}"> Description </th>
          <td mat-cell *matCellDef="let element"> 
            <div fxLayoutAlign="start" class="addPadding8px">
              {{ element.brand }} {{ element.serialNo ? "(SN: " + element.serialNo + ")" : "" }}
            </div>
          </td>
        </ng-container>
        
        <ng-container matColumnDef="invtyItemNo">
          <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">Inventory Item No.</th>
        </ng-container>
        
        <ng-container matColumnDef="propertyNo">
          <th mat-header-cell *matHeaderCellDef [ngStyle]="{'display': 'none'}"> Inventory Item No. </th>
          <td mat-cell *matCellDef="let element"> 
            <div fxLayoutAlign="start" class="addPadding8px">
              {{ element.propertyNo }}
            </div>
          </td>
        </ng-container>
        
        <ng-container matColumnDef="estUseLife">
          <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">Estimated Useful Life</th>
        </ng-container>
        
        <ng-container matColumnDef="remarks">
          <th mat-header-cell *matHeaderCellDef [ngStyle]="{'display': 'none'}"> Estimated Useful Life </th>
          <td mat-cell *matCellDef="let element"> 
            <div fxLayoutAlign="start" class="addPadding8px">
              {{ element.remarks }}
            </div>
          </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="['qty', 'unit', 'amount', 'desc', 'invtyItemNo', 'estUseLife']"></tr>
        <tr mat-header-row *matHeaderRowDef="displayedColumnsItemDetails; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsItemDetails;"></tr>
      </table>
    </div>
    <div fxLayout="row" fxFlex="grow">
      <div fxFlex="50" fxLayout="columns wrap">
        <div fxFlex="grow" class="addPadding15px withBorderTop withBorderLeft withBorderRight doubleHeight">
          Received from
        </div>
        <div fxFlex="grow" fxLayoutAlign="center end" class="bold doubleHeight withBorderBottom withBorderLeft withBorderRight">
          {{ icsData.receivedFromName }}
        </div>
        <div fxFlex="grow" fxLayoutAlign="center center" class="withBorderLeft withBorderRight smallFont">
          Signature over Printed Name
        </div>
        <div fxFlex="grow" fxLayoutAlign="center end" class="bold withBorderBottom withBorderLeft withBorderRight doubleHeight">
          {{ receivedFromPosition }}
        </div>
        <div fxFlex="grow" fxLayoutAlign="center center" class="withBorderTop withBorderLeft withBorderRight smallFont">
          Position/Office
        </div>
        <div fxFlex="grow" fxLayoutAlign="center end" class="bold withBorderBottom withBorderLeft withBorderRight doubleHeight">
          {{ formatDate(icsData.icsDate) }}
        </div>
        <div fxFlex="grow" fxLayoutAlign="center center" class="withBorderBottom withBorderLeft withBorderRight smallFont">
          Date
        </div>
      </div>
      <div fxFlex="50" fxLayout="columns wrap">
        <div fxFlex="grow" class="addPadding15px withBorderTop withBorderLeft withBorderRight doubleHeight">
          Received by
        </div>
        <div fxFlex="grow" fxLayoutAlign="center end" class="bold doubleHeight withBorderBottom withBorderLeft withBorderRight">
          {{ icsData.receivedByName }}
        </div>
        <div fxFlex="grow" fxLayoutAlign="center center" class="withBorderLeft withBorderRight smallFont">
          Signature over Printed Name
        </div>
        <div fxFlex="grow" fxLayoutAlign="center end" class="bold withBorderBottom withBorderLeft withBorderRight doubleHeight">
          {{ receivedByPosition }}
        </div>
        <div fxFlex="grow" fxLayoutAlign="center center" class="withBorderTop withBorderLeft withBorderRight smallFont">
          Position/Office
        </div>
        <div fxFlex="grow" fxLayoutAlign="center end" class="bold withBorderBottom withBorderLeft withBorderRight doubleHeight">
          {{ formatDate(icsData.icsDate) }}
        </div>
        <div fxFlex="grow" fxLayoutAlign="center center" class="withBorderBottom withBorderLeft withBorderRight smallFont">
          Date
        </div>
      </div>
    </div>
  </div>
</mat-card>