<mat-card class="printForm">
  <form fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="space-between">
      <div fxFlex="60">
        Name of the Procuring Entity: LGU-Bayugan, Agusan del Sur
      </div>
      <div fxFlex="30" fxLayout="column">
        <div>
           Project Reference Number:
        </div>
        <div>
          Name of Project:
        </div>
        <div>
          Location of Project:
        </div>
      </div>
    </div>
    <div>
      Standard Form Number: SF-GOOD-60
    </div>
    <div>
      Revised on: May 24, 2004
    </div>
    <div>
      Standard Form Title:
    </div>
    <div fxFlex fxLayoutAlign="center" class="headerText">
      Request for Quotation
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between">
      <div fxFlex="30" fxLayout="column" fxLayoutAlign="center center">
        <div class="entry withMarginTop20px">

        </div>
        <div>
          (Company Name)
        </div>
        <div class="entry">

        </div>
        <div>
          (Address)
        </div>
      </div>
      <div fxFlex="30" fxLayout="column">
        <div fxLayout="row">
          <div fxFlex="50">
            Date :
          </div>
          <div class="entry">
            <!-- {{ formatDate(rfqData.transactionDate) }} -->
          </div>
        </div>
        <div fxLayout="row">
          <div fxFlex="50">
            Quotation Number :
          </div>
          <div class="entry">
            <!-- {{ rfqData.transactionNo }} -->
          </div>
        </div>
      </div>
    </div>
    <div class="indent">
      Please quote your lowest price on the item/s listed below, subject to the General Conditions on the last page, stating the shortest time of delivery and submit your quotation duly signed by your representative not later than _______________________ in the return envelop attached herewith.
    </div>
    <div fxLayout="row" fxFlex="30" fxLayoutAlign="end">
      <div fxLayout="column" fxFlex="30" fxLayoutAlign="center center">
        <div class="entry withMarginTop20px" fxLayoutAlign="center">
          {{ bacChairman }}
        </div>
        <div>
          BAC Chairman
        </div>
      </div>
    </div>
    <div fxLayout="row">
      <div fxFlex="10">
        NOTE :
      </div>
      <div fxLayout="column">
        <div>
          1. ALL ENTRIES MUST BE TYPEWRITTEN
        </div>
        <div>
          2. DELIVERY PERIOD WITHIN __________ CALENDAR DAYS
        </div>
        <div>
          3. WARRANTY SHALL BE FOR A PERIOD OF SIX (6) MONTHS FOR SUPPLIES & MATERIALS, ONE (1) YEAR FOR EQUIPMENT, FROM DATE OF ACCEPTANCE BY THE PROCURING ENTITY (LGU-CEBU CITY, CEBU)
        </div>
        <div>
          4. PRICE VALIDITY SHALL BE FOR A PERIOD OF __________ CALENDAR DAYS
        </div>
        <div>
          5. PHIL-GEPS REGISTRATION CERTIFICATE SHALL BE ATTACHED UPON SUBMISSION OF THE QUOTATION
        </div>
        <div>
          6. BIDDERS SHALL SUBMIT ORIGINAL BROCHURES SHOWING CERTIFICATIONS OF THE PRODUCT BEING OFFERED
        </div>
      </div>
    </div>
    <div class="tableContainer" fxFlex="" class="withMarginTop10px">
      <table mat-table [dataSource]="rfqItemsData">
        <ng-container matColumnDef="itemNo">
          <th mat-header-cell *matHeaderCellDef> Item </th>
          <td mat-cell *matCellDef="let element; let i = index" [ngStyle]="element.id == '-' || element.id == '0' ? {'display': 'none'} : {'display': 'table-cell'}"> {{ element.id == "x" ? "" : element.id }} </td>
        </ng-container> 
      
        <ng-container matColumnDef="uom">
          <th mat-header-cell *matHeaderCellDef> Unit </th>
          <td mat-cell *matCellDef="let element" align="left" [ngStyle]="element.id == '-' || element.id == '0' ? {'display': 'none'} : {'display': 'table-cell'}"> {{ element.uom }} </td>
        </ng-container>
      
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef> Item & Description </th>
          <td mat-cell *matCellDef="let element" align="left" [ngStyle]="element.id == '-' ? {'text-align': 'center', 'font-weight': 'bold'} : element.id == '0' ? {'text-align': 'left', 'font-weight': 'bold'} : {'font-weight': 'normal'}" [attr.colspan]="element.id == '-' ? 4 : element.id == '0' ? 6 : 1"> {{ element.description }} </td>
        </ng-container>

        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef> Quantity </th>
          <td mat-cell *matCellDef="let element" align="right" [ngStyle]="element.id == '-' || element.id == '0' ? {'display': 'none'} : {'display': 'table-cell'}"> {{ element.quantity || "" }} </td>
        </ng-container>
      
        <ng-container matColumnDef="cost">
          <th mat-header-cell *matHeaderCellDef> Unit Cost </th>
          <td mat-cell *matCellDef="let element" align="right" [ngStyle]="element.id == '-' || element.id == '0' ? {'display': 'none'} : {'display': 'table-cell'}"></td>
        </ng-container>
      
        <ng-container matColumnDef="total">
          <th mat-header-cell *matHeaderCellDef> Total Cost </th>
          <td mat-cell *matCellDef="let element" align="right" [ngStyle]="element.id == '-' ? {'font-weight': 'bold'} : element.id == '0' ? {'display': 'none'} : {'display': 'table-cell'}"></td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumnsItemDetails"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsItemDetails;" [ngClass]="{'sub-total': row.description == 'Sub-Total' }"></tr>
      </table>
    </div>
    <div fxLayout="row" fxLayoutAlign="center">
      <div fxFlex="40">
        <div fxFlex="40">
          Brand and Model
        </div>
        <div class="entry">
  
        </div>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center">
      <div fxFlex="40">
        <div fxFlex="40">
          Delivery Period
        </div>
        <div class="entry">
          {{ rfqData?.deliveryPeriod || "" }}
        </div>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center">
      <div fxFlex="40">
        <div fxFlex="40">
          Waranty
        </div>
        <div class="entry">
  
        </div>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center">
      <div fxFlex="40">
        <div fxFlex="40">
          Price Validity
        </div>
        <div class="entry">
          {{ rfqData?.priceValidity || "" }}
        </div>
      </div>
    </div>
    <div class="indent">
      After having carefully read and accepted your General Conditions, I/We quote you on the item at prices noted above.
    </div>
    <div fxLayout="row" fxLayoutAlign="end">
      <div fxLayout="column" fxFlex="30" fxLayoutAlign="center center">
        <div class="entry">
          
        </div>
        <div>
          Print Name / Signature
        </div>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="end">
      <div fxLayout="column" fxFlex="30" fxLayoutAlign="center center">
        <div class="entry">
          
        </div>
        <div>
          Tel. No. / Cellphone No. / Email Address
        </div>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="end">
      <div fxLayout="column" fxFlex="30" fxLayoutAlign="center center">
        <div class="entry">
          
        </div>
        <div>
          Date
        </div>
      </div>
    </div>
  </form>
  <div class="divFooter" fxLayoutAlign="end">
    Page {{ currPage }} of {{ maxPage }}
  </div>
</mat-card>