mat-card {
  width: 8.5in;
  height: 11in;
  padding-left: .55in;
  padding-right: .55in;
  margin-top: 0 !important;
  print-color-adjust: exact;
  font-size: small;
}
mat-card.printForm {
  box-shadow: unset !important;
  page-break-after: always;
}
@page {
  size: auto;
  margin: .4in;
}
@media print {
  html, body { 
    overflow-y: visible !important; 
    position: relative; 
  };
  .headerText {
    margin-top: -14px;
  }
}
div.divFooter {
  margin-top: 20px;
}
table {
  border-collapse: collapse;
  margin-top: unset;
  width: 100%;
}
.entry {
  height: 20px;
  border-bottom: 1px solid black;
  width: 100%;
}
.b {
  font-weight: 800;
}
.indent {
  text-indent: 50px;
  text-align: justify;
}
.header-title {
  font-size: 16px;
}
.headerData {
  height: 25px;
  align-items: self-end;
}
.withBorder {
  border: 1px solid;
  padding: 8px !important;
}
.withMarginTop10px {
  margin-top: 10px;
}
.withMarginTop20px {
  margin-top: 20px;
}
.inputFormatCenter {
  border-bottom: 1px solid black;
  text-align: center;
}
.headerText {
  margin-top: -20px;
  font-weight: bold;
}
th.mat-header-cell {
  text-align: center !important;
  border: 1px solid #000000;
  font-weight: bold;
  color: black;
  background-color: lightgrey;
}
td.mat-cell:first-of-type,
th.mat-header-cell:first-of-type {
  padding-left: 0px;
}
td.mat-cell:last-of-type,
th.mat-header-cell:last-of-type {
  padding-right: 0px;
}
td.mat-cell,
td.mat-footer-cell {
  padding-right: 10px !important;
  padding-left: 10px !important;
  border: 1px solid #000000;
  font-size: small;
}
tr.mat-row {
  height: 25px !important;
}
th,td {
  border: 1px solid black;
}
form {
  margin-bottom: unset !important;
}
.sub-total {
  background-color: lightgrey;
}

.mat-column-itemNo {
  width: 50px;
}
.mat-column-description {
  width: 350px;
}
.mat-column-quantity {
  width: 60px;
}
.mat-column-uom {
  width: 70px;
}