<mat-toolbar class="bg-primary">
  <div fxLayoutAlign="space-between center" fxLayout="row wrap" fxFlex="grow">
    <mat-label>Purchase Request</mat-label>
    <div fxFlex="30" fxLayoutAlign="end center" fxLayoutGap="10px">
      <button mat-raised-button color="primary" (click)="selectPRs()">
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
          <mat-icon>input</mat-icon>
          <div class="fn-button-label">
            Select PR/s
          </div>
        </div>
      </button>
      <button mat-mini-fab color="warn" (click)="closeDialog()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>
<mat-card>
  <div fxLayout="row" fxFlex="grow" class="formContent">
    <div fxLayout="column" fxFlex="grow">
      <div fxLayoutAlign="space-between center" fxFlex="none" fxLayout="row wrap">
        <div fxLayoutAlign="start center" fxFlex="35">
          <div>
            <mat-label>Search</mat-label>
          </div>
          <div fxFlex="80">
            <mat-form-field appearance="fill">
              <input matInput [(ngModel)]="textFilterStr" [ngModelOptions]="{standalone: true}" (keyup)="textFilter($event)">
              <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
          </div>
        </div>
        <div fxLayoutAlign="space-between center" fxFlex="35">
          <div>
            <mat-label>Account</mat-label>
          </div>
          <div fxFlex="85">
            <mat-form-field appearance="fill">
              <input type="text" matInput [(ngModel)]="selectedItemClass" [matAutocomplete]="auto" [formControl]="formControlClass" />
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)='selectionChanged($event)'>
                <mat-option *ngFor="let option of filteredClass | async" [value]="option">
                  {{option}}
                  </mat-option>
              </mat-autocomplete>
              <button matSuffix mat-icon-button (click)="clearClassFilter()">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </div>
        </div>
        <div fxLayoutAlign="end center" fxFlex="28" fxLayoutGap="10px">
          <div>
            <mat-select [(ngModel)]="dateFilterType" [ngModelOptions]="{standalone: true}" (selectionChange)='selectQtr()'>
              <mat-option value="Monthly">Filter Month</mat-option>
              <mat-option value="DateRange">Date Range</mat-option>
              <mat-option value="Quarter">Quarter</mat-option>
            </mat-select>
          </div>
          <div fxFlex="70" *ngIf="dateFilterType == 'Monthly'">
            <mat-form-field appearance="fill">
              <input matInput [matDatepicker]="dp" [formControl]="dateValue" readonly>
              <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
              <mat-datepicker #dp
                              startView="year"
                              (yearSelected)="chosenYearHandler($event)"
                              (monthSelected)="chosenMonthHandler($event, dp)"
                              panelClass="example-month-picker">
              </mat-datepicker>
            </mat-form-field>
          </div>
          <div fxFlex="70" *ngIf="dateFilterType == 'DateRange'">
            <mat-form-field appearance="fill">
              <mat-date-range-input [rangePicker]="picker">
                <input matStartDate [(ngModel)]="dateFrom" [ngModelOptions]="{standalone: true}">
                <input matEndDate [(ngModel)]="dateTo" [ngModelOptions]="{standalone: true}">
              </mat-date-range-input>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-date-range-picker #picker startView="year">
                <mat-date-range-picker-actions>
                  <button mat-button matDateRangePickerCancel>Cancel</button>
                  <button mat-raised-button color="primary" matDateRangePickerApply (click)="selectDateRange()">Apply</button>
                </mat-date-range-picker-actions>
              </mat-date-range-picker>
            </mat-form-field>
          </div>
          <div fxFlex="70" *ngIf="dateFilterType == 'Quarter'">
            <div fxFlex="45">
              <mat-select [(ngModel)]="qtrFilter" [ngModelOptions]="{standalone: true}" (selectionChange)='selectQtr()'>
                <mat-option value="Q1">1st Qtr</mat-option>
                <mat-option value="Q2">2nd Qtr</mat-option>
                <mat-option value="Q3">3rd Qtr</mat-option>
                <mat-option value="Q4">4th Qtr</mat-option>
              </mat-select>
            </div>
            <div fxFlex="45">
              <mat-select (selectionChange)="selectQtr()"
                  [(ngModel)]="qtrYearFilter" [ngModelOptions]="{standalone: true}">
                <mat-option *ngFor="let yr of qtrYearSelection" [value]="yr">
                  {{yr}}
                </mat-option>
              </mat-select>
            </div>
          </div>
        </div>
      </div>
      <div fxLayout="column">
        <div class="tableContainer">
          <table mat-table [dataSource]="dataSource" class="main-table">
            <ng-container matColumnDef="logs">
              <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                              [checked]="selection.hasValue() && isAllSelected()"
                              [indeterminate]="selection.hasValue() && !isAllSelected()">
                </mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let row" align="center">
                <mat-checkbox (click)="$event.stopPropagation()"
                              (change)="$event ? selection.toggle(row) : null"
                              [checked]="selection.isSelected(row)">
                </mat-checkbox>
              </td>
            </ng-container>
      
            <ng-container matColumnDef="prNo">
              <th mat-header-cell *matHeaderCellDef> PR No. </th>
              <td mat-cell *matCellDef="let element"> {{ element.transactionNo }} </td>
            </ng-container>
      
            <ng-container matColumnDef="prDate">
              <th mat-header-cell *matHeaderCellDef> PR Date </th>
              <td mat-cell *matCellDef="let element"> {{ formatDate(element.transactionDate) }} </td>
            </ng-container>
      
            <ng-container matColumnDef="prAmount">
              <th mat-header-cell *matHeaderCellDef> PR Amount </th>
              <td mat-cell *matCellDef="let element" align="right"> {{ numberFormat.format(calculatePRItemsTotal(element.items)) }} </td>
            </ng-container>
      
            <ng-container matColumnDef="budget">
              <th mat-header-cell *matHeaderCellDef> Annual Budget </th>
              <td mat-cell *matCellDef="let element" align="right"> {{ numberFormat.format(calculateAccountTotal(element.sof)) }} </td>
            </ng-container>
      
            <ng-container matColumnDef="departmentName">
              <th mat-header-cell *matHeaderCellDef> Department</th>
              <td mat-cell *matCellDef="let element"> {{ element.departmentName }} </td>
            </ng-container>
      
            <ng-container matColumnDef="sourceOfFund">
              <th mat-header-cell *matHeaderCellDef> SOF </th>
              <td mat-cell *matCellDef="let element"> {{ element.sourceOfFund }} </td>
            </ng-container>
      
            <ng-container matColumnDef="accounts">
              <th mat-header-cell *matHeaderCellDef> Account </th>
              <td mat-cell *matCellDef="let element"> {{ getPRAccounts(element.sof) }} </td>
            </ng-container>
      
            <ng-container matColumnDef="rationale">
              <th mat-header-cell *matHeaderCellDef> Purpose </th>
              <td mat-cell *matCellDef="let element"> {{ element.rationale }} </td>
            </ng-container>
      
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                (click)="rowSelected(row)"
                [class.row-is-clicked]="selectedPR == row"></tr>
          </table>
        </div>
        <mat-paginator [pageSizeOptions]="[50, 100]" showFirstLastButtons>
        </mat-paginator>
      </div>
    </div>
  </div>
</mat-card>