<mat-toolbar class="bg-primary" *ngIf="envFirstLoad == 'List'">
  <div fxLayoutAlign="space-between center" fxLayout="row wrap" fxFlex="grow">
    <mat-label>Consolidate Purchase Request</mat-label>
    <div fxFlex="60" fxLayoutAlign="end center" fxLayoutGap="10px">
      <div fxFlex="60" class="search-item">
        <div>
          <mat-label>Search</mat-label>
        </div>
        <div fxFlex fxFlex="80">
          <mat-form-field appearance="fill">
            <input matInput [(ngModel)]="textFilterStr" [ngModelOptions]="{standalone: true}" (keyup)="textFilter($event)">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </div>
      </div>
      <button mat-fab color="primary" (click)="selectPRs()" matTooltip="Browse PR">
        <mat-icon>open_in_new</mat-icon>
      </button>
      <button mat-fab color="primary" (click)="preSaveConfirmation()" matTooltip="{{ btnSaveText }} Entry">
        <mat-icon>save</mat-icon>
      </button>
      <button mat-fab color="primary" (click)="clearFields()" matTooltip="Clear Entry">
        <mat-icon>backspace</mat-icon>
      </button>
      <button mat-mini-fab color="warn" (click)="closeDialog()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>
<mat-card>
  <form fxLayout="columns wrap" [formGroup]="purchaseRequestFormGroup" class="formContent">
    <div fxLayoutAlign="space-between center" fxFlex="grow" fxLayout="row wrap">
      <div fxLayoutAlign="space-between center" fxFlex="50">
        <div>
          <mat-label>Department</mat-label>
        </div>
        <div fxFlex="80">
          <mat-form-field appearance="fill">
            <mat-select (selectionChange)="deptSelectedValue($event)"
                [(ngModel)]="deptSelected.value" [ngModelOptions]="{standalone: true}">
              <mat-option>--</mat-option>
              <mat-option *ngFor="let dept of departmentSelection" [value]="dept.id">
                {{dept.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div fxLayoutAlign="space-between center" fxFlex="45">
        <div>
          <mat-label>Transaction No.</mat-label>
        </div>
        <div fxFlex="60">
          <mat-form-field appearance="fill">
            <input matInput formControlName="transactionNo">
          </mat-form-field>
        </div>
      </div>
    </div>
    <div fxLayoutAlign="space-between center" fxFlex="grow" fxLayout="row wrap">
      <div fxLayoutAlign="space-between center" fxFlex="50">
        <div>
          <mat-label>Section</mat-label>
        </div>
        <div fxFlex="80">
          <mat-form-field appearance="fill">
            <mat-select (selectionChange)="sectionSelectedValue($event)"
                [(ngModel)]="sectionSelected.value" [ngModelOptions]="{standalone: true}">
              <mat-option>--</mat-option>
              <mat-option *ngFor="let section of sectionSelection" [value]="section.id">
                {{section.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div fxLayoutAlign="space-between center" fxFlex="45">
        <div>
          <mat-label>Transaction Date</mat-label>
        </div>
        <div fxFlex="60" fxLayoutAlign="space-between center">
          <div fxFlex="60">
            <mat-form-field appearance="fill">
              <input matInput [matDatepicker]="transDatePicker" formControlName="transactionDate">
              <mat-datepicker-toggle matSuffix [for]="transDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #transDatePicker></mat-datepicker>
            </mat-form-field>
          </div>
          <div fxFlex="35">
            <mat-form-field appearance="fill">
              <mat-select [(ngModel)]="quarter" [ngModelOptions]="{standalone: true}">
                <mat-option value="Q1">1st Qtr</mat-option>
                <mat-option value="Q2">2nd Qtr</mat-option>
                <mat-option value="Q3">3rd Qtr</mat-option>
                <mat-option value="Q4">4th Qtr</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <div fxLayoutAlign="space-between center" fxFlex="grow" fxLayout="row wrap">
      <div fxLayoutAlign="space-between start" fxFlex="50">
        <div class="addMarginTop5">
          <mat-label>Purpose</mat-label>
        </div>
        <div fxFlex="80">
          <mat-form-field appearance="fill" class="textAreaInput">
            <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="2" cdkAutosizeMaxRows="5" formControlName="rationale"></textarea>
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="columns wrap" fxFlex="45">
        <div fxLayoutAlign="space-between center" fxFlex="grow" fxLayout="row wrap">
          <div>
            <mat-label>Source of Fund</mat-label>
          </div>
          <div fxFlex="60">
            <mat-form-field appearance="fill">
              <input matInput readonly="true" formControlName="sourceOfFund">
              <button matSuffix mat-icon-button (click)="selectFund()">
                <mat-icon>more_horiz</mat-icon>
              </button>
            </mat-form-field>
          </div>
        </div>
        <div fxLayoutAlign="space-between center" fxFlex="grow" fxLayout="row wrap">
          <div>
            <mat-label>Mode of Procurement</mat-label>
          </div>
          <div fxFlex="60">
            <mat-form-field appearance="fill">
              <mat-select formControlName="procurementMode">
                <mat-option>--</mat-option>
                <mat-option value="Competitive Bidding">Competitive Bidding</mat-option>
                <mat-option value="Limited Source Bidding">Limited Source Bidding</mat-option>
                <mat-option value="Direct Contracting">Direct Contracting</mat-option>
                <mat-option value="Repeat Order">Repeat Order</mat-option>
                <mat-option value="Shopping">Shopping</mat-option>
                <mat-option value="Small Value Procurement">Small Value Procurement</mat-option>
                <mat-option value="Agency-to-Agency">Agency-to-Agency</mat-option>
                <mat-option value="Negotiated procurement">Negotiated procurement</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <div class="tableContainer">
      <table mat-table [dataSource]="itemDataSource">
        <ng-container matColumnDef="action" *ngIf="isCallout">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row" align="center">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)" *ngIf="row.itemId != ''">
            </mat-checkbox>
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        
        <ng-container matColumnDef="no">
          <th mat-header-cell *matHeaderCellDef> No </th>
          <td mat-cell *matCellDef="let element; let i = index"> {{ element.itemId == '' ? "" : element.id }} </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef> Material Type </th>
          <td mat-cell *matCellDef="let element"> {{ element.type }} </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
      
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef> Description </th>
          <td mat-cell *matCellDef="let element"> {{ element.description + (element.specification ? " - " + element.specification : "") }} </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
      
        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef> Quantity </th>
          <td mat-cell *matCellDef="let element"> {{ element.itemId == '' ? "" : element.quantity }} </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
      
        <ng-container matColumnDef="dbmQty">
          <th mat-header-cell *matHeaderCellDef> DBM Qty </th>
          <td mat-cell *matCellDef="let element">
            <input matInput type="number" *ngIf="element.itemId != ''" class="num-input" [(ngModel)]="element.dbmQty" [ngModelOptions]="{standalone: true}" (focusout)="compareQty(element)">
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
      
        <ng-container matColumnDef="unitMeasure">
          <th mat-header-cell *matHeaderCellDef> Unit Measure </th>
          <td mat-cell *matCellDef="let element"> {{ element.itemId == '' ? "" : element.uom }} </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
      
        <ng-container matColumnDef="unitCost">
          <th mat-header-cell *matHeaderCellDef> Unit Cost </th>
          <td mat-cell *matCellDef="let element" [ngStyle]="element.itemId == '' ? {'text-align': 'left'} : {'text-align': 'right'}"> {{ element.itemId == '' ? "Sub-Total" : numberFormat.format(element.cost) }} </td>
          <td mat-footer-cell *matFooterCellDef class="b"> Grand Total </td>
        </ng-container>
      
        <ng-container matColumnDef="totalCost">
          <th mat-header-cell *matHeaderCellDef> Total Cost </th>
          <td mat-cell *matCellDef="let element" align="right"> {{ numberFormat.format(element.total) }} </td>
          <td mat-footer-cell *matFooterCellDef align="right" class="b"> {{ numberFormat.format(calculateTotal()) }} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="isCallout ? displayedColumnsWithAction : displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: isCallout ? displayedColumnsWithAction : displayedColumns;" [ngClass]="{'zero-quantity': row.quantity == 0 && row.itemId != '', 'b': row.itemId == '' }"></tr>
        <tr mat-footer-row *matFooterRowDef="isCallout ? displayedColumnsWithAction : displayedColumns; sticky: true"></tr>
      </table>
    </div>
    <div fxLayoutAlign="space-between center" fxFlex="grow" fxLayout="row wrap" class="addMarginTop5">
      <div fxFlex="33">
        <mat-form-field appearance="fill">
          <mat-label>Requested By</mat-label>
          <input matInput [(ngModel)]="requestedByName" [ngModelOptions]="{standalone: true}" readonly="true">
          <button matSuffix mat-icon-button (click)="selectEmployee('RequestedBy')">
            <mat-icon>more_horiz</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div fxFlex="33">
        <mat-form-field appearance="fill">
          <mat-label>Cash Availability</mat-label>
          <input matInput [(ngModel)]="cashAvailabilityName" [ngModelOptions]="{standalone: true}" readonly="true">
          <button matSuffix mat-icon-button (click)="selectEmployee('CashAvailability')">
            <mat-icon>more_horiz</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div fxFlex="33">
        <mat-form-field appearance="fill">
          <mat-label>Approved By</mat-label>
          <input matInput [(ngModel)]="approvedByName" [ngModelOptions]="{standalone: true}" readonly="true">
          <button matSuffix mat-icon-button (click)="selectEmployee('ApprovedBy')">
            <mat-icon>more_horiz</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>
    <div *ngIf="isCallout" class="note">
      Note: All <b>Checked</b> items are for <b>DBM PR</b>
    </div>
  </form>
</mat-card>