mat-card {
  width: 76vw;
}
.search-item {
  font-size: small;
  align-items: self-end;
}
mat-label {
  padding-right: 20px;
}
mat-form-field {
  width: 100%;
}
::ng-deep .mat-form-field-suffix .mat-icon {
  padding-top: 30%;
}
table {
  width: 100%;
  height: fit-content;
}
th.mat-header-cell {
  text-align: center !important;
  border: 1.5px solid #bab7b2;
  font-weight: bold;
  color: black;
  background-color: lightgrey;
}
td.mat-cell:first-of-type,
th.mat-header-cell:first-of-type {
  padding-left: 0px;
}
td.mat-cell:last-of-type,
th.mat-header-cell:last-of-type {
  padding-right: 0px;
}
td.mat-cell,
td.mat-footer-cell {
  padding-right: 10px !important;
  padding-left: 10px !important;
  border: 1.5px solid #bab7b2;
}
.tableContainer {
  overflow: auto;
  background-color: white;
  height: 555px;
  width: 100%;
  border: 1px solid lightgray;
}
:host ::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
}
tr.mat-header-row {
  height: 42px;
}
tr.mat-header-row.small-height {
  height: 23px !important;
}
.mat-input-element:disabled {
  color: unset;
}
.mat-column-supplier1Selected,
.mat-column-supplier2Selected,
.mat-column-supplier3Selected {
  width: 20px;
}
.mat-column-quantity,
.mat-column-supplier1Qty,
.mat-column-supplier2Qty,
.mat-column-supplier3Qty {
  width: 40px;
}
.mat-column-supplier1Price,
.mat-column-supplier2Price,
.mat-column-supplier3Price {
  width: 75px;
}
.mat-column-uom {
  width: 40px;
}
.mat-column-amount {
  width: 100px
}
.qtyInput {
  text-align: right;
}