<mat-card class="printForm">
  <app-print-header [formName]="'PROPERTY RETURN SLIP'"></app-print-header>
  <div fxLayoutAlign="center center" fxLayout="columns wrap" class="marginTop20">
    <div fxLayoutAlign="space-between center" fxFlex="grow" fxLayout="row wrap" class="withMarginTop10px">
      <div fxLayoutAlign="start center" fxLayout="row" fxFlex="60">
        
      </div>
      <div fxLayoutAlign="start center" fxLayout="row" fxFlex="38">
        <div fxFlex="35">
          PRS No.
        </div>
        <div fxFlex="65" class="withUnderline">
          : {{ prsData.transactionNo }}
        </div>
      </div>
    </div>
    <div fxLayoutAlign="space-between center" fxFlex="grow" fxLayout="row wrap">
      <div fxLayoutAlign="start center" fxLayout="row" fxFlex="60">
        
      </div>
      <div fxLayoutAlign="start center" fxLayout="row" fxFlex="38">
        <div fxFlex="35">
          Date
        </div>
        <div fxFlex="65" class="withUnderline">
          : {{ formatDate(prsData.transactionDate) }}
        </div>
      </div>
    </div>
    <div fxLayoutAlign="space-between center" fxFlex="grow" fxLayout="row wrap">
      <div fxLayoutAlign="space-between center" fxLayout="row" fxFlex="30">
        <div>
          <mat-label>Return Status : </mat-label>
        </div>
        <div fxFlex="60" fxLayoutAlign="space-between center">
          <div fxLayoutAlign="center center">
            <mat-icon>check_box</mat-icon>
            Good
          </div>
          <div fxLayoutAlign="center center">
            <mat-icon>check_box_outline_blank</mat-icon>
            Damage
          </div>
        </div>
      </div>
      <div fxLayoutAlign="space-between center" fxLayout="row" fxFlex="65">
        <div>
          <mat-label>Remarks</mat-label>
        </div>
        <div fxFlex="85" class="withUnderline">
          : {{ prsData.remarks }}
        </div>
      </div>
    </div>
  </div>
  <div class="marginTop20">
    <div class="tableContainer" fxFlex="">
      <table mat-table [dataSource]="prsItemsData">
        <ng-container matColumnDef="itemCode">
          <th mat-header-cell *matHeaderCellDef> Item No. </th>
          <td mat-cell *matCellDef="let element" align="left"> {{ element.itemCode }} </td>
        </ng-container>

        <ng-container matColumnDef="uom">
          <th mat-header-cell *matHeaderCellDef> Unit </th>
          <td mat-cell *matCellDef="let element" align="left"> {{ element.uom }} </td>
        </ng-container>
      
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef> Description </th>
          <td mat-cell *matCellDef="let element" align="left"> {{ element.description }} </td>
        </ng-container>
      
        <ng-container matColumnDef="qty">
          <th mat-header-cell *matHeaderCellDef> Quantity </th>
          <td mat-cell *matCellDef="let element" align="center"> {{ !element.description || element.description == "***Nothing Follows***" ? "" : 1 }} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumnsItemDetails"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsItemDetails;"></tr>
      </table>
    </div>
  </div>
  <div fxLayoutAlign="center" class="marginTop20 b">
    CERTIFICATION
  </div>
  <div fxLayout="row" class="marginTop20">
    <div fxFlex="50" class="paddingRight50">
      <div class="indent">
        I HEREBY CERTIFY that I have this ________ day of ____________, {{ currentYear() }}
      </div>
      <div class="b">
        RETURNED To
      </div>
      <div fxLayout="columns wrap" fxLayoutAlign="center center">
        <div class="withUnderline marginTop50" fxLayoutAlign="center" fxFlex="80">
          
        </div>
        <div>
          (Name & Designation)
        </div>
      </div>
      <div>
        the items/articles describe above>
      </div>
      <div fxLayout="columns wrap" fxLayoutAlign="center center">
        <div class="withUnderline marginTop50" fxLayoutAlign="center" fxFlex="80">
          
        </div>
        <div>
          (Name & Designation)
        </div>
      </div>
      <div class="marginTop20">
        <div fxFlex="30">
          Received by :
        </div>
        <div fxFlex="60" class="withUnderline">

        </div>
      </div>
      <div>
        <div fxFlex="30">
          Date :
        </div>
        <div fxFlex="60" class="withUnderline">

        </div>
      </div>
    </div>
    <div fxFlex="50" class="paddingLeft50">
      <div class="indent">
        I HEREBY CERTIFY that I have this ________ day of ____________, {{ currentYear() }}
      </div>
      <div class="b">
        RECEIVED from
      </div>
      <div fxLayout="columns wrap" fxLayoutAlign="center center">
        <div class="withUnderline marginTop50" fxLayoutAlign="center" fxFlex="80">
          
        </div>
        <div>
          (Name & Designation)
        </div>
      </div>
      <div>
        the items/articles describe above>
      </div>
      <div fxLayout="columns wrap" fxLayoutAlign="center center">
        <div class="withUnderline marginTop50" fxLayoutAlign="center" fxFlex="80">
          
        </div>
        <div>
          (Name & Designation)
        </div>
      </div>
    </div>
  </div>
</mat-card>