<mat-toolbar class="bg-primary">
  <div fxLayoutAlign="space-between center" fxLayout="row wrap" fxFlex="grow">
    <mat-label>Print Preview</mat-label>
    <div fxFlex="30" fxLayoutAlign="end center" fxLayoutGap="10px">
      <button mat-fab color="primary" (click)="print()">
        <mat-icon>print</mat-icon>
      </button>
      <button mat-fab color="warn" (click)="closeDialog()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>
<mat-card>
  <form>
    <div class="print-pages" fxLayoutAlign="start center" fxFlex="grow" fxLayout="column" fxLayoutGap="170px">
      <app-aob-print
        [aocData]="selectedAOC" 
        [rfqData]="selectedRFQ"
        [supp1GrandTotal]="calculateTotal(1)"
        [supp2GrandTotal]="calculateTotal(2)"
        [supp3GrandTotal]="calculateTotal(3)"
        [itemsTotal]="itemsTotalAmt"></app-aob-print>
    </div>
  </form>
</mat-card>